<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.myroom.comment.dao.CommentDAO">
	<insert id="insertComment" parameterType="map">
		INSERT INTO `comment`
		(
			`userId`
		    , `realEstateId`
		    , `content`
		    , `createdAt`
			, `updatedAt`
		) 
		VALUES
		(
			#{userId}
			,#{realEstateId}
			,#{content}
			,NOW()
			,NOW()
		)
	</insert>
	<select id="selectCommentCardListByRealEstateId" parameterType="int" resultType="com.myroom.comment.model.CommentCard">
		SELECT 
			b.`name`
			, a.`content`
			, a.`createdAt`
		FROM
			`comment` as a
			JOIN `user` as b
			ON a.`userId` = b.`id`
		WHERE
			`realEstateId` = #{realEstateId}
	</select>
</mapper>