<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.myroom.realEstate.dao.RealEstateDAO">
	<insert id="insertComment">
		INSERT INTO `real_estate'
		(
			`userId`
		    , `realEstateId`
		    , `content`
		    , `createdAt`
			, `updatedAt`
		) 
		VALUES
		(
			#{userId}
			,#{realEstateId}
			,#{content}
			,NOW()
			,NOW()
		)
	</insert>
</mapper>