<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myroom.user.dao.UserDAO">
	<select id="selectUserByLoginIdPassword" parameterType="map"
		resultType="com.myroom.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId} AND
			`password` = #{hashedPassword}
	</select>
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			, `password`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{hashedPassword}
			, #{name}
			, #{email}
			, NOW()
			, NOW()
		)
	</insert>
	<select id="selectUserByLoginId" parameterType="String" resultType="com.myroom.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `name`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
</mapper>