@charset "UTF-8";

html {
	overflow: x-hidden;
}

html, body {
	width: 100%;
	height: 100%;
}

#wrap {
	width: 100%;
	height: 100%;
	background-color: #F0EBEB;
	height: 100%;
	background-color: #F0EBEB;
}

a {
	text-decoration: none !important
}

.logo-text {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 800;
	font-size: 40px;
	line-height: 48px;
	color: #599591;
}

.login-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.access-box {
	width: 500px;
	min-height: 350px;
	background: rgba(0, 0, 0, 0.02);
	border: 1px solid #000000;
}

.sign-up-box {
	width: 500px;
	height: 100px;
	background: rgba(0, 0, 0, 0.01);
	border: 1px solid #000000;
}

.registerNumberConfirm, .eye, .check-btn {
	border-radius: 0px;
}

section {
	height: 90%;
/* 	background-color: aqua; */
}

#header {
	width: 100%;
	height: 93px;
	background-color: white;
}

/* .modal-content { */
/* 	height: 1000px; */
/* } */

.fa-home {
	font-size: 40px
}

.section-left {
	width: 60%;
	height: 100%;
}

.section-rigth {
	width: 40%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	padding: 3% 5% 3% 5%;
}

.search-box {
	position: fixed;
	width: 30%;
}

.realEstate-card {
	border: 1px solid #000000;
}

.border-highlight {
	border: 5px solid #599591;
}

#map {
	width: 100%;
	height: 100%;
}

.contents {
	margin: 5% 10% 5% 10%;
	width: 80%;
	height: 80%;
}

.content {
	width: 45%;
	height: 100%;
	border: 1px solid #000000;
	padding: 2%;
}

.detail-box {
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.box-border {
	border: 1px solid #000000;
	padding: 10px;
}

.rooms-box {
	height: 90%;
	width: 90%;
	background-color: blue;
}

#infoMap {
	width: 100%;
	height: 200px;
}

.fa-picture-o {
	width: 50px;
	height: 50px;
}

.room-info-box {
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.rooms {
	width: 60%;
	border: 1px solid #000000;
}

.new-rooms-box {
	width: 60%;
	border: 1px solid #000000;
	overflow: scroll;
	overflow-x: hidden;
}

.my-client-room {
	width: 100%;
	height: 80%;
	overflow: scroll;
	overflow-x: hidden;
}

.client-room-detail {
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}
.table-wrap {
	min-height: 40%;
}